
[[server]]
name = "example"
host = "www.example.com"
root = "/var/www"
http = { port = 80 }
https = { port = 443, key = "key.pem", cert = "cert.pem" }
log = { level = "INFO", file = { path = "example.log", level = "TRACE" } }
threads = 8
backlog = 16

